<div class="side-bar-header">
  <a href="#" class="user-name">Tom</a>
      <a href="#" class="new-chat">チャットを作成する</a>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>